body {
    background-color: palegoldenrod
}

header {
    padding-top: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.chapter {
    padding-top: 25px;
    text-align: center;
    font-size: 28px;
}

p {
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;
}

img {
    margin-left: 550px;
}

#aftermath {
    font-weight: bold;
}